<div class="row">
    <div class="col-12">
        <div class="container">
            <h2>Product Create </h2>
            <form class="col-sm-6">
                <div class="mb-3 ">
                    <label class="form-label">Product Id</label>
                    <input type="text" class="form-control"  placeholder=" Enter Product id">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Product Name</label>
                    <input type="text" class="form-control"  placeholder="Enter Product Name">
                  </div>

                  <div class="mb-3 ">
                    <label class="form-label">Product Details</label>
                    <textarea class="form-control"  rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                  <label for="form-label"> Upload Image</label>
                  <input type="file" class="form-control" placeholder="Upload Image..">
                  </div>
                  <div class="mb-3">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
            </form>
        </div>
    </div>
</div>
