<div class="container mt-3">
 <h1 class="text-center">Contact</h1>
 <form>
     <div class="row">
         <div class="col-lg-6 mt-4 mb-4">
             <input type="text" class="form-control" placeholder="Enter First Name">
         </div>
         <div class="col-lg-6 mt-4 mb-4">
            <input type="text" class="form-control" placeholder="Enter Last Name">
        </div>
        <div class="col-lg-12 mt-4 mb-4">
            <input type="text" class="form-control" placeholder="Enter Email Id">

        </div>
        <div class="col-lg-12 mt-4 mb-4">
            <input type="text" class="form-control" placeholder="Enter Mobile Number">
            
        </div>
         <div class="col-lg-12 mt-4 mb-4">
             <button type="submit" class="btn btn-md btn-dark p-2">Submit</button>
         </div>
     </div>
 </form>

 <div class="row">
     <div class="col-lg-12 mt-4 mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14434.985889428131!2d82.93939929999999!3d25.2454628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1636950235834!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        style="width: 100%;"></iframe>
     </div>
 </div>
</div>
