<div class="container mt-5 mb-5">

   <h1 class="text-center mt-5 mb-4">About</h1>
    <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos expedita exercitationem quo quasi nobis eaque sequi obcaecati, sapiente amet vel ducimus repellat eius iure error, animi laudantium cumque. Sequi, harum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat quia placeat dolor porro rerum vero ipsa quis aliquam aspernatur! Hic quasi eum minima distinctio similique nesciunt quia quod minus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus molestiae quidem quod quo sed illum ullam beatae odit officiis cum sapiente labore hic quis recusandae rem porro impedit, molestias ipsum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fuga perferendis cumque autem. Corrupti nemo amet hic, quia doloribus inventore voluptatibusiusto quisquam reprehenderit magnam cum deserunt quidem? Veritatis, distinctio.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolorem eaque provident accusantium ipsam deserunt ipsa natus accusamus. Quae voluptatem dolorum repellat excepturi praesentium officiis harum error doloremque rem! Eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, laudantium?Vero, rem, minima adipisci quas eligendi laboriosam voluptatem provident eum ipsa possimus reiciendis. Amet tenetur soluta impedit laudantium et hic.
    </p>
</div>
